.cart {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    width: 25vw;
    text-align: left;
}

.cart input {
    background-color: white;
    opacity: 75%;
    border: none;
    border-radius: 2px;
    width: 50px;
    position: relative;
    bottom: 2px;
}

.cart p {
    font-size: 25px;
    padding-right: 10px;
}