.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dollar-input {
  margin: 10px;
}

.button-container {
  width: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red;
  font-size: 10px;
  font-weight: bold;
}

.checkout-button {
  border: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  cursor: pointer;
  font-size: calc(12px);
  height: 30px;
  border-radius: 4px;
  font-weight: bold;
}

.checkout-button:hover {
  opacity: 0.95;
}